<!DOCTYPE html>
<html>
<head>
    <!-- Link icon for certain sites -->
    <link rel="image_src" href="/images/unilingual-logo.png">
    <!-- Favicon link -->
    <link rel="shortcut icon" href="/images/unilingual-logo.png" type="image/x-icon">
    <!-- Skeleton CSS import -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <!-- CSS imports -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- Socket IO Import -->
    <script src="/scripts/socket.io.js"></script>
    <!-- Title -->
    <title>Unilingual</title>
</head>
<body>