<% include partials/header %>
<section class="hero">
    <div class="container">
        <img id="header-unilingual-logo" src="/images/unilingual-logo-text.png">
        <div id="hero-tagline">
            <h1>Speak one language.</h1>
            <h1>Communicate in another.</h1>
        </div>
        <div class="row">
            <div class="five columns">
                <form id="sign-up-form">
                    <div class="row">
                        <label for="signUpUsernameInput">Username</label>
                        <div class="input-wrapper">
                            <img src="/images/icons/user.png">
                            <input type="text" name="username" class="u-full-width" id="signUpUsernameInput">
                        </div>
                    </div>
                    <div class="row">
                        <label for="signUpEmailInput">Email</label>
                        <div class="input-wrapper">
                            <img src="/images/icons/mail.png">
                            <input type="text" name="email" class="u-full-width" id="signUpEmailInput">
                        </div>
                    </div>
                    <div class="row">
                        <label for="signUpPasswordInput">Password</label>
                        <div class="input-wrapper">
                            <img src="/images/icons/password.png">
                            <input type="password" name="password" class="u-full-width" id="signUpPasswordInput">
                        </div>
                    </div>
                    <label id="agree-terms">
                        <div class="row">
                            <input type="checkbox">
                            <span class="label-body">I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></span>
                        </div>
                    </label>
                    <div class="row">
                        <button id="sign-up-button-green-large" class="u-full-width">Sign Up</button>
                    </div>
                </form>
            </div>
            <div class="seven columns">
                <div class="row">
                    <div class="six columns">
                        <img id="chat-box-english" src="/images/landing/chat-box-english.png">
                    </div>
                    <div class="six columns">
                        <img id="chat-box-french" src="/images/landing/chat-box-french.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include partials/footer %>

