<% include partials/header %>
<div class="log-in-popup-wrapper">
    <div class="container">
        <div class="row">
            <div class="two-half column">
                <div class="log-in-popup">
                    <a href="#close-log-in-popup"><img src="/images/icons/dark-grey-x.png" id="image-log-in-popup-close"></a>
                    <div class="row center">
                        <h4>Log In</h4>
                    </div>
                    <form action="/login" method="POST" id="log-in-form">
                        <div class="row">
                            <label for="signUpEmailInput">Username</label>
                            <div class="input-wrapper">
                                <img src="/images/icons/user.png">
                                <input type="text" name="username" class="u-full-width" id="log-in-username-input">
                            </div>
                        </div>
                        <div class="row">
                            <label for="signUpPasswordInput">Password</label>
                            <div class="input-wrapper">
                                <img src="/images/icons/password.png">
                                <input type="password" name="password" class="u-full-width" id="log-in-password-input">
                            </div>
                        </div>
                        <label>
                            <div class="row">
                                <a class="">I forgot my password</a>
                            </div>
                        </label>
                        <div class="row">
                            <button class="button-green-large" class="u-full-width">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="dark-overlay">
    </div>
</div>
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="ten columns">
                <img id="image-header-unilingual-logo" src="/images/unilingual-logo-text.png">
            </div>
            <div class="two columns">
                <a id="log-in-button" href="#">Log In</a>
            </div>
        </div>
        <div id="hero-tagline">
            <h1>Speak one language.</h1>
            <h1>Communicate in another.</h1>
        </div>
        <div class="row">
            <div class="five columns">
                <form action="/register" method="POST" id="sign-up-form">
                    <div class="row">
                        <label for="signUpUsernameInput">Username</label>
                        <div class="input-wrapper">
                            <img src="/images/icons/user.png">
                            <input type="text" name="username" class="u-full-width" id="sign-up-username-input">
                        </div>
                    </div>
                    <div class="row">
                        <label for="signUpEmailInput">Email</label>
                        <div class="input-wrapper">
                            <img src="/images/icons/mail.png">
                            <input type="text" name="email" class="u-full-width" id="sign-up-email-input">
                        </div>
                    </div>
                    <div class="row">
                        <label for="signUpPasswordInput">Password</label>
                        <div class="input-wrapper">
                            <img src="/images/icons/password.png">
                            <input type="password" name="password" class="u-full-width" id="sign-up-password-input">
                        </div>
                    </div>
                    <label id="agree-terms">
                        <div class="row">
                            <input type="checkbox">
                            <span class="label-body">I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></span>
                        </div>
                    </label>
                    <div class="row">
                        <button class="button-green-large" class="u-full-width">Sign Up</button>
                    </div>
                </form>
            </div>
            <div class="seven columns">
                <div class="row center">
                    <div class="six columns">
                        <img class="image-chat-box" src="/images/landing/chat-box-english.png">
                    </div>
                    <div class="six columns">
                        <img class="image-chat-box" src="/images/landing/chat-box-french.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features">
    <div class="container">
        <div class="row center">
            <div class="four columns">
                <img src="/images/icons/phone.png">
                <h4>Call</h4>
                <p>With or without translation enabled, you can call anybody around the world for free, for as long as you want. Toggle automatic translation at any time.</p>
            </div>
            <div class="four columns">
                <img src="/images/icons/speech-bubble.png">
                <h4>Chat</h4>
                <p>Don't feel like using your voice? No problem. Unilingual has an instant messaging system that allows for both a normal and translated conversation.</p>
            </div>
            <div class="four columns">
                <img src="/images/icons/wrench.png">
                <h4>Customize</h4>
                <p>From positioning to color themes, you can customize your layout to your choosing. Unilingual gives you the power to personalize.</p>
            </div>
        </div>
    </div>
</section>
<footer class="landing-footer">
    <div class="container">
        <div class="row">
            <div class="eight columns">
                <div class="row">
                    <div class="three columns">
                        <h5>About</h5>
                        <a>Unilingual</a><br>
                        <a>How it Works</a><br>
                        <a>Blog</a><br>
                    </div>
                    <div class="three columns">
                        <h5>Support</h5>
                        <a>Create a Ticket</a><br>
                        <a>FAQ</a><br>
                    </div>
                    <div class="six columns">
                        <h5>Contact</h5>
                        <p><img id="image-smartphone-icon" src="/images/icons/smartphone.png">(416)-668-6157</p>
                        <p><img id="image-mail-icon" src="/images/icons/mail-black.png">hi@unilingual.com</p><br>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="eight columns">
                <div class="row">
                    <div class="six columns">
                        <a>Terms of Service</a> | <a>Privacy Policy</a>
                    </div>
                    <div class="six columns">
                        <a>Currently supported languages<img id="image-up-triangle-icon" src="/images/icons/up-triangle.png"><a/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<% include partials/footer %>

