<% include partials/header %>
<%if (currentUser) { %>
<li><a href="#">Signed In As <%=currentUser.username%></a></li>
<%}%>
<div class="talk-wrapper">
    <div class="container" id="talk-container">
        <div class="row">
            <div class="three columns">
                <div id="friends-div">
                xxxx
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>

