<% include partials/header %>
<%if (currentUser) { %>
<li><a href="#">Signed In As <%=currentUser.username%></a></li>
<%}%>
<div class="container" id="talk-container">
    <div class="row">
        <div class="four columns">
            <div style="background-color: red; height: 100%;">
            xxxx
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>

