<% include partials/header %>
<%if (currentUser) { %>
<li><a href="#">Signed In As <%=currentUser.username%></a></li>
<%}%>
<div class="talk-wrapper">
    <div class="container" id="talk-container">
        <div class="row">
            <div class="twelve columns">
                <div id="options-bar-div">
                <div class="row">
                    <div class="one column">
                        <a href="#"><img src="images/unilingual-logo-text.png" id="image-options-bar-unilingual-logo"></a>
                    </div>
                    <div class="one column">
                        <a class="options-bar-text">Options</a>
                    </div>
                    <div class="one column">
                        <a class="options-bar-text">Help</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <div id="friends-div">
                <div id="current-user-div">
                    <div class="user-status" id="current-user-status"></div>
                </div>
                <div class="friends-list-div">

                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>

