<% include partials/header %>
<%if (currentUser) { %>
<li><a href="#">Signed In As <%=currentUser.username%></a></li>
<%}%>
<div class="talk-wrapper">
    <div class="container" id="talk-container">
        <div class="row">
            <div class="twelve columns">
                <div id="options-bar-div">
                <div class="row">
                    <div class="one column">
                        <a href="#"><img src="images/unilingual-logo-text.png" id="image-options-bar-unilingual-logo"></a>
                    </div>
                    <div class="one column">
                        <a class="options-bar-text">Options</a>
                    </div>
                    <div class="one column">
                        <a class="options-bar-text">Help</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="three columns">
                <div id="friends-div">
                    <div id="current-user-div">
                        <div class="user-status" id="current-user-status"></div>
                        <a href="#"><img id="current-user-profile-picture" src="images/talk/blank-profile-picture.png"></a>
                        <h4 id="current-user-name">John Doe</h4>
                        <a id="current-user-language" href="#"><em>English</em> v</a>
                        <a href="#"><img id="image-add-user" src="/images/icons/add-user.png"></a>
                        <br>
                        <br>
                        <hr style="margin: 0; position:relative; bottom: 90px;">
                        <input id="input-search-friends-list" type="text" placeholder="Search friends list">
                        <hr style="margin: 0; position:relative; bottom: 110px;">
                    </div>
                    <div class="friends-list-div">
                        <a class="friend" href="#1">
                            <div class="user-status friend-status"></div>
                            <img class="friend-profile-picture" src="images/talk/blank-profile-picture.png">
                            <h5 class="friend-name">Jane Doe</h5>
                            <em class="friend-language">French</em>
                        </a>
                    </div>
                </div>
            </div>
            <div class="nine columns">
                <div id="chat-div">
                    <div class="user-status chat-friend-status"></div>
                    <img class="chat-friend-profile-picture" src="images/talk/blank-profile-picture.png">
                    <h2 class="chat-friend-name"><strong>Jane Doe - </strong><em>French</em></h2>
                    <div class="chat-history-div"></div>
                    <textarea class="chat-message-div"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>

