/*
Colours
  _____ ____  _      ____  _    _ _____   _____
 / ____/ __ \| |    / __ \| |  | |  __ \ / ____|
| |   | |  | | |   | |  | | |  | | |__) | (___
| |   | |  | | |   | |  | | |  | |  _  / \___ \
| |___| |__| | |___| |__| | |__| | | \ \ ____) |
 \_____\____/|______\____/ \____/|_|  \_\_____/
  Colour           |   Type   |  Hex
 ------------------|----------|-------
  Dusty Gray       | Neutral  | #9B9B9B
  Harp             | Neutral  | #EFF7F4
  Gin              | Neutral  | #E9F2EF
  Mystic           | Neutral  | #DEEBE7
  Nebula           | Neutral  | #CBDAD5
  Magic Mint       | Green    | #98F0C8
  Shamrock Light   | Green    | #52CF9E
  Shamrock         | Green    | #3ECF8E
  Jungle Green     | Green    | #35B67C
  Pickled Bluewood | Blue     | #2C3E50
*/

/*
Fonts
______ ____  _   _ _______ _____
|  ____/ __ \| \ | |__   __/ ____|
| |__ | |  | |  \| |  | | | (___
|  __|| |  | | . ` |  | |  \___ \
| |   | |__| | |\  |  | |  ____) |
|_|    \____/|_| \_|  |_| |_____/
*/
/*
Lato
font-family: 'Lato', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 0;
}

.center {
    text-align: center;
}

.hero {
    background-color: #E9F2EF;
    height: 900px;
    padding-top: 30px;
}

#header-unilingual-logo {
    height: 65px;
    margin-bottom: 35px;
}

#hero-tagline {
    margin-bottom: 90px;
}

#hero-tagline h1 {
    font-family: 'Lato', sans-serif;
    font-weight: Bold;
    font-size: 80px;
    margin: -8px;
    color: #2C3E50;
}

.input-wrapper {
    margin: 0;
    height: 40px;
    position: relative;
}

.input-wrapper > img {
    height: 19px;
    position: absolute;
    left: 11px;
    top: 14px;
}

input[name="username"], input[name="email"], input[name="password"] {
    padding-left: 37px;
    padding-bottom: 8px;
}

input[type="text"], input[type="password"] {
    height: 50px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

#sign-up-button-green-large {
    margin-top: 10px;
    border-radius: 0px;
    height: 50px;
    border: none;
    background-color: #3ECF8E;
    color: White;
    font-family: 'Lato', sans-serif !important;
    font-size: 17px;
    font-weight: 400;
    text-transform: none;
    transition: 0.2s;
}

#sign-up-button-green-large:hover {
    background-color: #52CF9E;
}

label {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0px 0px 0px;
}

#agree-terms {
    margin-top: 15px;
}

#agree-terms input[type="checkbox"] {
    margin-left: 0;
    position: relative;
    top: 1px;
}

a {
    color: #35B67C;
    font-weight: Bold;
    text-decoration: none;
}

a:hover {
    color: #35B67C;
    text-decoration: none;
}

#chat-box-english {
    height: 385px;
}

#chat-box-french {
    height: 385px;
}

#features {
    background-color: #EFF7F4;
    height: 650px;
}

#features > .container > .row > .four > img {
    margin-top: 90px;
    width: 250px;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: Bold;
}

#features > .container > .row > .four > h4 {
    margin-top: -20px;
    color: #3ECF8E;
}

p {
    font-size: 18px;
}
#features > .container > .row > .four > p {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: Bold;
    color: #3ECF8E;
    margin-top: -18px;
    line-height: 22px;
}

/* Mobile first queries */
@media (min-width: 200px) {
    .hero {
        height: 2000px;
    }

    #hero-tagline h1 {
        font-size: 39px;
        margin: 0;
    }

    #hero-tagline {
        margin-bottom: 20px;
    }

    #features {
        height: 1850px;
    }
}

/* Larger than mobile */
@media (min-width: 400px) {
    .hero {
        height: 2000px;
    }

    #hero-tagline h1 {
        font-size: 57px;
        margin: 0;
    }

    #hero-tagline {
        margin-bottom: 20px;
    }

    #features {
        height: 1550px;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .hero {
        height: 1000px;
    }

    #hero-tagline h1 {
        font-size: 80px;
        margin: -8px;
    }

    #hero-tagline {
        margin-bottom: 90px;
    }

    #features {
        height: 850px;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .hero {
        height: 1000px;
    }

    #hero-tagline h1 {
        font-size: 80px;
        margin: -8px;
    }

    #hero-tagline {
        margin-bottom: 90px;
    }

    #features {
        height: 750px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .hero {
        height: 900px;
    }

    #hero-tagline h1 {
        font-size: 80px;
        margin: -8px;
    }

    #hero-tagline {
        margin-bottom: 90px;
    }

    #features {
        height: 650px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .hero {
        height: 900px;
    }

    #hero-tagline h1 {
        font-size: 80px;
        margin: -8px;
    }

    #hero-tagline {
        margin-bottom: 90px;
    }

    #features {
        height: 650px;
    }
}

