/*
Colours
  _____ ____  _      ____  _    _ _____   _____
 / ____/ __ \| |    / __ \| |  | |  __ \ / ____|
| |   | |  | | |   | |  | | |  | | |__) | (___
| |   | |  | | |   | |  | | |  | |  _  / \___ \
| |___| |__| | |___| |__| | |__| | | \ \ ____) |
 \_____\____/|______\____/ \____/|_|  \_\_____/
  Colour           |   Type   |  Hex
 ------------------|----------|-------
  Silver Chalice   | Neutral  | #A7A7A7
  Alabaster        | Neutral  | #F8F8F8
  Alto             | Neutral  | #DEDEDE
  Dusty Gray       | Neutral  | #9B9B9B
  Harp             | Neutral  | #EFF7F4
  Gin              | Neutral  | #E9F2EF
  Mystic           | Neutral  | #DEEBE7
  Nebula           | Neutral  | #CBDAD5
  Pastel Green     | Green    | #98DF6D
  Magic Mint       | Green    | #98F0C8
  Shamrock Light   | Green    | #52CF9E
  Shamrock Medium  | Green    | #33BC84
  Shamrock         | Green    | #3ECF8E
  Jungle Green     | Green    | #35B67C
  Pickled Bluewood | Blue     | #2C3E50
  Error Red        | Red      | #EE372E
*/

/*
Fonts
 ______ ____  _   _ _______ _____
|  ____/ __ \| \ | |__   __/ ____|
| |__ | |  | |  \| |  | | | (___
|  __|| |  | | . ` |  | |  \___ \
| |   | |__| | |\  |  | |  ____) |
|_|    \____/|_| \_|  |_| |_____/
*/
/*
Lato
font-family: 'Lato', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Lato');

/*
 General
   _____ ______ _   _ ______ _____            _
  / ____|  ____| \ | |  ____|  __ \     /\   | |
 | |  __| |__  |  \| | |__  | |__) |   /  \  | |
 | | |_ |  __| | . ` |  __| |  _  /   / /\ \ | |
 | |__| | |____| |\  | |____| | \ \  / ____ \| |____
  \_____|______|_| \_|______|_|  \_\/_/    \_\______|
 */

html,body
{
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: #E9F2EF;
}

input[name="username"], input[name="email"], input[name="password"] {
    padding-left: 37px;
    padding-bottom: 8px;
}

input[type="text"], input[type="password"] {
    height: 50px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid #3ECF8E;
}

label {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0px 0px 0px;
}

a:hover {
    cursor: pointer;
}

footer {
    background-color: #DEEBE7;
}

.center {
    text-align: center;
}

.input-wrapper {
    margin: 0;
    height: 40px;
    position: relative;
}

.user-status {
    border-radius: 50%;
    height: 13px;
    width: 13px;
}

.online-user-status {
    background-color: #98DF6D !important;
    height: 10px !important;
    width: 10px !important;
}

.offline-user-status {
    background-color: White !important;
    height: 9px !important;
    width: 9px !important;
    border: 1px solid #98DF6D;
}


/*
 Divs
  _____ _______      _______
 |  __ \_   _\ \    / / ____|
 | |  | || |  \ \  / / (___
 | |  | || |   \ \/ / \___ \
 | |__| || |_   \  /  ____) |
 |_____/_____|   \/  |_____/
*/

#current-user-status {
    position: relative;
    top: 50px;
    background-color: #98DF6D;
}

.friend-status {
    position: relative;
    bottom: 50px;
    height: 10px;
    width: 10px;
    z-index: 2;
}

.friend {
    position: relative;
    text-decoration: none;
}

.pending-friend {
    text-decoration: none;
}

.chat-friend-status {
    position: relative;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    top: 45px;
    background-color: #98df6d;
}

.friend-backboard {
    position: absolute;
    width: 43.1vh;
    height: 89px;
    bottom: 83px;
    opacity: 0.3;
    left: -20px;
}

/*.arrow-right {
    height: 44px;
    position: relative;
    left: 345px;
    bottom: 124px;
}*/

/*
 Sections
   _____ ______ _____ _______ _____ ____  _   _  _____
  / ____|  ____/ ____|__   __|_   _/ __ \| \ | |/ ____|
 | (___ | |__ | |       | |    | || |  | |  \| | (___
  \___ \|  __|| |       | |    | || |  | | . ` |\___ \
  ____) | |___| |____   | |   _| || |__| | |\  |____) |
 |_____/|______\_____|  |_|  |_____\____/|_| \_|_____/
*/

.hero {
    background-color: #E9F2EF;
    height: 900px;
    padding-top: 30px;
}

#features {
    background-color: #EFF7F4;
    height: 650px;
}

.landing-footer {
    padding-top: 40px;
    height: 250px;
}

.dark-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: Black;
    opacity: 0.5;
    z-index: 9;
}

.log-in-popup-wrapper {
    position: fixed;
    z-index: 10;
    display: none;
}

.popup {
    position: fixed;
    right: 0;
    left: 0;
    top: 120px;
    margin-right: auto;
    margin-left: auto;
    min-height: 16em;
    max-height: 30em;
    width: 20%;
    z-index: 10;
    background-color: #CBDAD5;
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    overflow-y: auto;
}

#talk-container {
    width: 100%;
    max-width: 100%;
    clear: both;
    margin: 0 auto;
}

.talk-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#friends-div {
    height: 90vh;
    background-color: #F8F8F8;
    border: 1px solid #A7A7A7;
    border-radius: 7px;
    padding: 10px 20px 10px 20px;
}

.chat-div {
    height: 90vh;
    background-color: #F8F8F8;
    border: 1px solid #A7A7A7;
    border-radius: 7px;
    padding: 10px 20px 10px 20px;
    display: none;
}

#options-bar-div {
    height: 35px;
    background-color: #F8F8F8;
    border: 1px solid #A7A7A7;
    border-radius: 7px;
    position: relative;
    bottom: 18px;
    padding-left: 18px;
    padding-top: 12px;
}

.chat-history-div {
    font-family: 'Lato', sans-serif;
    position: relative;
    font-size: 110%;
    height: 67.5%;
    width: 88%;
    background-color: #F8F8F8;
    border: 1px solid #A7A7A7;
    border-radius: 7px;
    padding: 10px 20px 10px 20px;
    bottom: 160px;
    margin-bottom: 0;
    overflow-y: auto;
}

.chat-message-input {
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    position: relative;
    background-color: #F8F8F8;
    border: 1px solid #A7A7A7;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    height: 100px !important;
    bottom: 143px;
    resize: none;
}

.chat-message-input:focus {
    border: 1px solid #52CF9E;
}

.add-friend-popup-wrapper {
    position: fixed;
    z-index: 10;
    display: none;
}

.profile-picture-popup-wrapper {
    position: fixed;
    z-index: 10;
    display: none;
}

/*
 Text
  _______ ________   _________
 |__   __|  ____\ \ / /__   __|
    | |  | |__   \ V /   | |
    | |  |  __|   > <    | |
    | |  | |____ / . \   | |
    |_|  |______/_/ \_\  |_|
*/

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: Bold;
}

p {
    font-size: 18px;
}

h5 {
    font-size: 20px;
}

#hero-tagline {
    margin-bottom: 90px;
    margin-top: 20px;
}

#hero-tagline h1 {
    font-family: 'Lato', sans-serif;
    font-weight: Bold;
    font-size: 80px;
    margin: -8px;
    color: #2C3E50;
}

.form-label {
    margin-top: 15px;
}

#sign-up-form a {
    color: #35B67C;
    font-weight: Bold;
    text-decoration: none;
}

#sign-up-form a:hover {
    color: #35B67C;
    text-decoration: none;
}

#features > .container > .row > .four > h4 {
    margin-top: -20px;
    color: #3ECF8E;
}

#features > .container > .row > .four > p {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: Bold;
    color: #3ECF8E;
    margin-top: -18px;
    line-height: 22px;
}

.landing-footer h5 {
    font-family: 'Lato', sans-serif;
    font-weight: Bold;
    margin-bottom: 0;
}

.landing-footer a, .landing-footer p {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: Black;
}

.landing-footer p {
    margin-bottom: 2px;
}

.popup h4 {
    margin-bottom: 0;
}

.popup label {
    margin-top: 14px;
}

.popup label > .row > a {
    font-weight: Bold;
    color: #35B67C;
}

#sign-up-error {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #EE372E;
    font-weight: Bold;
}

#log-in-error {
    position: relative;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #EE372E;
    font-weight: Bold;
    bottom: 15px;
}

.options-bar-text {
    font-family: 'Lato', sans-serif;
    font-weight: Bold;
    color: #52CF9E;
    position: relative;
    left: 30px;
    top: 7px;
}

.options-bar-text:hover {
    color: #52CF9E;
}

#current-user-name {
    position: relative;
    left: 125px;
    bottom: 80px;
    color: #35B67C;
}

#current-user-language {
    font-family: 'Lato', sans-serif;
    position: relative;
    color: #52CF9E;
    text-decoration: none;
    left: 125px;
    bottom: 105px;
}

.friend-name {
    font-family: 'Lato', sans-serif;
    font-weight: Bold;
    position: relative;
    left: 102px;
    bottom: 100px;
    color: Black;
    margin: 0;
    z-index: 2;
}

.friend-language {
    font-family: 'Lato', sans-serif;
    color: Black;
    position: relative;
    bottom: 106px;
    left: 102px;
    z-index: 2;
}

.chat-friend-name {
    font-family: 'Lato', sans-serif;
    position: relative;
    left: 160px;
    bottom: 94px;
}

#options-bar-logout {
    text-decoration: none;
}

.global-friend-text {
    font-size: 95%;
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
    position: relative;
}

.pending-friends-title {
    font-weight: Bold;
    font-family: 'Lato', sans-serif;
    position: relative;
    bottom: 95px;
    margin-bottom: 0;
}

.pending-friend-name {
    font-family: 'Lato', sans-serif;
    font-weight: Bold;
    position: relative;
    left: 102px;
    bottom: 100px;
    color: #35B67C;
}

.pending-friend-language {
    font-family: 'Lato', sans-serif;
    color: #35B67C;
    position: relative;
    bottom: 124px;
    left: 102px;
}

/*
 Images
  _____ __  __          _____ ______  _____
 |_   _|  \/  |   /\   / ____|  ____|/ ____|
   | | | \  / |  /  \ | |  __| |__  | (___
   | | | |\/| | / /\ \| | |_ |  __|  \___ \
  _| |_| |  | |/ ____ \ |__| | |____ ____) |
 |_____|_|  |_/_/    \_\_____|______|_____/
 */

#image-header-unilingual-logo {
    height: 65px;
    margin-bottom: 35px;
}

.input-wrapper > img {
    height: 19px;
    position: absolute;
    left: 11px;
    top: 14px;
}

.image-chat-box {
    height: 385px;
    position: relative;
    top: 0;
}

#image-smartphone-icon {
    position: relative;
    top: 6px;
    height: 24px;
}

#image-mail-icon {
    position: relative;
    top: 5px;
    left: 3px;
    height: 19px;
    margin-right: 7px;
}

#image-up-triangle-icon  {
    position: relative;
    top: 4px;
    height: 15px;
}

#features > .container > .row > .four > img {
    margin-top: 90px;
    width: 250px;
}

.image-popup-close {
    height: 13px;
    float: right;
}

#image-options-bar-unilingual-logo {
    height: 25px;
    position: relative;
    top: 7px;
}

#image-current-user-profile-picture {
    height: 85px;
    width: 85px;
    border-radius: 10px;
    position: relative;
    left: 27px;
}

#image-add-user {
    position: relative;
    height: 34px;
    float: right;
    bottom: 98px;
}

.friend-profile-picture {
    height: 65px;
    width: 65px;
    border-radius: 10px;
    position: relative;
    left: 20px;
    bottom: 35px;
    margin-top: -130px;
    z-index: 2;
}

.pending-friend-profile-picture {
    height: 65px;
    border-radius: 10px;
    position: relative;
    bottom: 35px;
    margin-top: -130px;
    right: 24px;
}

.chat-friend-profile-picture {
    height: 100px;
    border-radius: 10px;
    position: relative;
    left: 35px;
    bottom: 9px;

}

.image-chat-call {
    height: 80px;
    position: relative;
    left: 1220px;
    bottom: 75px;
}

.image-global-friend {
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
    margin-left: 24px;
}

.image-add-global-friend {
    position: relative;
    float: left;
    margin-right: 12px;
    bottom: 36px;
    height: 16px;
}

.image-current-user {
    position: relative;
    height: 245px;
    width: 245px;
    border-radius: 10px;
}

.accept-friend-request {
    position: relative;
    height: 16px;
    bottom: 69px;
    right: 5px;
}

.accept-friend-request:hover {
    cursor: pointer;
}

.decline-friend-request {
    position: relative;
    height: 16px;
    bottom: 46px;
    right: 26px;
}

.decline-friend-request:hover {
    cursor: pointer;
}

/*
 Buttons
  ____  _    _ _______ _______ ____  _   _  _____
 |  _ \| |  | |__   __|__   __/ __ \| \ | |/ ____|
 | |_) | |  | |  | |     | | | |  | |  \| | (___
 |  _ <| |  | |  | |     | | | |  | | . ` |\___ \
 | |_) | |__| |  | |     | | | |__| | |\  |____) |
 |____/ \____/   |_|     |_|  \____/|_| \_|_____/
 */

.button-green-large {
    margin-top: 10px;
    border-radius: 0px;
    height: 50px;
    border: none;
    background-color: #3ECF8E;
    color: White;
    font-family: 'Lato', sans-serif !important;
    font-size: 17px;
    font-weight: 400;
    text-transform: none;
    transition: 0.2s;
}

.button-green-large:hover {
    color: White;
    background-color: #52CF9E;
}

#log-in-button {
    position: relative;
    top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: Bold;
    color: #35B67C;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 15px !important;
}

.popup .button-green-large {
    position: relative;
    bottom: 15px;
}

#add-friend-search-submit {
    margin-bottom: 0;
}

#profile-picture-upload-image-label {
    margin: 0;
    font-family: 'Lato', sans-serif;
    line-height: 28px;
    font-weight: Bold;
    height: 30px;
    width: 120px;
    background-color: #35B67C;
    margin: auto;
    text-align: center;
    transition: 0.1s;
}

#profile-picture-upload-image-label:hover {
    cursor: pointer;
    background-color: #33BC84;
}

.chat-message-send {
    font-family: 'Lato', sans-serif;
    position: relative;
    bottom: 143px;
    border-radius: 5px;
    height: 100px !important;
    transition: 0.2s;
    font-size: 75%;
    right: 35px;
}

.chat-message-send:hover {
    border: 1px solid #35B67C;
    color: #35B67C;
    font-size: 85%;
}

/*
 Forms
  ______ ____  _____  __  __  _____
 |  ____/ __ \|  __ \|  \/  |/ ____|
 | |__ | |  | | |__) | \  / | (___
 |  __|| |  | |  _  /| |\/| |\___ \
 | |   | |__| | | \ \| |  | |____) |
 |_|    \____/|_|  \_\_|  |_|_____/
*/

.form-label input[type="checkbox"] {
    margin-left: 0;
    position: relative;
    top: 1px;
}

#input-search-friends-list {
    position: relative;
    background: none;
    height: 30px;
    bottom: 94px;
    font-style: italic;
    border: none;
}

.popup .form-label {
    position: relative;
    bottom: 10px;
}

#form-search-global-users {
    margin-bottom: 0;
}

#profile-picture-upload-image-input {
    margin: 0;
    opacity: 0;
}

.hidden-input {
    display: none;
}

.form-accept-friend-request {
    margin: 0;
    display: inline-flex;
}

.form-decline-friend-request {
    margin: 0;
    display: inline-flex;
}

.form-add-friend {
    margin-top: -20px;
}

/*
 General Positioning
   _____ ______ _   _ ______ _____            _        _____   ____   _____ _____ _______ _____ ____  _   _ _____ _   _  _____
  / ____|  ____| \ | |  ____|  __ \     /\   | |      |  __ \ / __ \ / ____|_   _|__   __|_   _/ __ \| \ | |_   _| \ | |/ ____|
 | |  __| |__  |  \| | |__  | |__) |   /  \  | |      | |__) | |  | | (___   | |    | |    | || |  | |  \| | | | |  \| | |  __
 | | |_ |  __| | . ` |  __| |  _  /   / /\ \ | |      |  ___/| |  | |\___ \  | |    | |    | || |  | | . ` | | | | . ` | | |_ |
 | |__| | |____| |\  | |____| | \ \  / ____ \| |____  | |    | |__| |____) |_| |_   | |   _| || |__| | |\  |_| |_| |\  | |__| |
  \_____|______|_| \_|______|_|  \_\/_/    \_\______| |_|     \____/|_____/|_____|  |_|  |_____\____/|_| \_|_____|_| \_|\_____|
*/
.landing-footer .eight > .row > .three, .landing-footer > .eight > .row > .six {
    margin-bottom: 15px;
}


/*
 Media Queries
  __  __ ______ _____ _____             ____  _    _ ______ _____  _____ ______  _____
 |  \/  |  ____|  __ \_   _|   /\      / __ \| |  | |  ____|  __ \|_   _|  ____|/ ____|
 | \  / | |__  | |  | || |    /  \    | |  | | |  | | |__  | |__) | | | | |__  | (___
 | |\/| |  __| | |  | || |   / /\ \   | |  | | |  | |  __| |  _  /  | | |  __|  \___ \
 | |  | | |____| |__| || |_ / ____ \  | |__| | |__| | |____| | \ \ _| |_| |____ ____) |
 |_|  |_|______|_____/_____/_/    \_\  \___\_\\____/|______|_|  \_\_____|______|_____/
 */

/* Mobile first queries */
@media (min-width: 200px) {
    .hero {
        height: 1400px;
    }

    #hero-tagline h1 {
        font-size: 39px;
        margin: 0;
    }

    #hero-tagline {
        margin-bottom: 20px;
    }

    #features {
        height: 1550px;
    }

    .landing-footer {
        height: 525px;
    }

    .image-chat-box {
        height: 320px;
    }

    #features > .container > .row > .four > img {
        margin-top: 90px;
        width: 150px;
    }

    #image-header-unilingual-logo {
        height: 40px;
    }
}

/* Larger than mobile */
@media (min-width: 400px) {
    .hero {
        height: 1600px;
    }

    #hero-tagline h1 {
        font-size: 57px;
        margin: 0;
    }

    #hero-tagline {
        margin-bottom: 20px;
    }

    #features {
        height: 1450px;
    }

    .landing-footer {
        height: 500px;
    }

    .image-chat-box {
        height: 385px;
    }

    #features > .container > .row > .four > img {
        margin-top: 90px;
        width: 220px;
    }

    #image-header-unilingual-logo {
        height: 65px;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .hero {
        height: 1000px;
    }

    #hero-tagline h1 {
        font-size: 80px;
        margin: -8px;
    }

    #hero-tagline {
        margin-bottom: 90px;
    }

    #features {
        height: 850px;
    }

    .landing-footer {
        height: 250px;
    }

    .image-chat-box {
        position: relative;
        top: 60px;
        height: 190px;
    }

    #features > .container > .row > .four > img {
        margin-top: 90px;
        width: 170px;
    }

    #image-header-unilingual-logo {
        height: 65px;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .hero {
        height: 1000px;
    }

    #hero-tagline h1 {
        font-size: 80px;
        margin: -8px;
    }

    #hero-tagline {
        margin-bottom: 90px;
    }

    #features {
        height: 750px;
    }

    .landing-footer {
        height: 250px;
    }

    .image-chat-box {
        position: relative;
        top: 0;
        height: 260px;
    }
    #features > .container > .row > .four > img {
         margin-top: 90px;
         width: 220px;
    }

    #image-header-unilingual-logo {
        height: 65px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .hero {
        height: 900px;
    }

    #hero-tagline h1 {
        font-size: 80px;
        margin: -8px;
    }

    #hero-tagline {
        margin-bottom: 90px;
    }

    #features {
        height: 650px;
    }

    .landing-footer {
        height: 250px;
    }

    .image-chat-box {
        height: 325px;
        position: relative;
        top: 0;
    }

    #features > .container > .row > .four > img {
        margin-top: 90px;
        width: 250px;
    }

    #image-header-unilingual-logo {
        height: 65px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .hero {
        height: 900px;
    }

    #hero-tagline h1 {
        font-size: 80px;
        margin: -8px;
    }

    #hero-tagline {
        margin-bottom: 90px;
    }

    #features {
        height: 650px;
    }

    .landing-footer {
        height: 250px;
    }

    .image-chat-box {
        height: 385px;
        position: relative;
        top: 0;
    }

    #features > .container > .row > .four > img {
        margin-top: 90px;
        width: 250px;
    }

    #image-header-unilingual-logo {
        height: 65px;
    }
}